@model IEnumerable<MovieTime.ViewModels.WatchParty.WatchPartyViewModel>

@{
    ViewData["Title"] = "UserWatchParties";
}

<h2>UserWatchParties</h2>

<div>
    <h4>Watch Parties</h4>
    <hr />
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
