@model MovieTime.ViewModels.WatchList.UserReviewViewModel

@{
    ViewData["Title"] = "EditUserReview";
}

<h2>EditUserReview</h2>

<h4>UserReviewViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUserReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MovieName" class="control-label"></label>
                <input asp-for="MovieName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <input asp-for="ReviewText" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="MovieId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
